/* These are the stylesheets used by Qt for the Sonic Pi GUI widgets */

QTextBrowser {
    selection-color: white;
    selection-background-color: deeppink;
    padding: 10px;
    background: white;
}
