/* These are the stylesheets used by Qt for the Sonic Pi GUI widgets */

QTextBrowser {
    selection-color: white;
    selection-background-color: deeppink;
    padding: 10px;
    background: white;
}

QTextEdit#output {
    font-family: "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono",  "Liberation Mono", "DroidSansMono", "Lucida Console", Consolas, Terminal, Monaco, "Courier New", monospace;
    color: #5e5e5e;
}
