<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:firewall="http://schemas.microsoft.com/wix/FirewallExtension">
<!-- so you want to be a WiXard?

heat dir etc -gg -g1 -sfrag -dr SonicPi -cg ETC -out etc.wxs 
heat dir app\gui -gg -g1 -sfrag -dr AppDir -cg GUI -out gui.wxs 
heat dir app\server -gg -g1 -sfrag -dr AppDir -cg SERVER -out server.wxs 
edit sonic-pi.wxs
    change version number
edit gui.wxs
    remove sonic-pi.exe component and componentref
edit server.wxs
	remove scsynth.exe component and componentref
candle app\gui\qt\sonic-pi.wxs etc.wxs gui.wxs server.wxs -ext WixUtilExtension
light sonic-pi.wixobj etc.wixobj gui.wixobj server.wixobj -ext WixUtilExtension -ext WixUIExtension -o Sonic-Pi.msi -b etc -b app\gui -b app\server

-->
    <Product Id="*" Name="Sonic Pi" Language="1033" Version="2.11" Manufacturer="Sonic Pi" UpgradeCode="ECA5D03B-CEBD-4672-A0A2-176CBCBA4429">
        <Package Description="Sonic Pi Installer" Comments="Sonic Pi Installer" InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />
		<Property Id="REINSTALLMODE" Value="amus"/>
		<MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallInitialize"/>		
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="SonicPi" Name="Sonic Pi">
					<Directory Id="AppDir" Name="app">
                        <Directory Id="GUI" Name="gui">
                            <Directory Id="QT" Name="qt">
                                <Directory Id="RELEASE" Name="release">
                                    <Component Id="SONIC_PI.EXE" DiskId="1" Guid="BA4C72F9-C198-436A-B1E2-B2DF8EC65960">
                                        <File Id="SONIC_PI.EXE" Name="sonic-pi.exe" Source="SourceDir\app\gui\qt\release\sonic-pi.exe" />
											
                                    </Component>
								</Directory>
							</Directory>
						</Directory>
						<Directory Id="SERVER" Name="server">
							<Directory Id="NATIVE" Name="native">
								<Directory Id="WINDOWS" Name="win">
                                    <Component Id="SCSYNTH.EXE" DiskId="1" Guid="AE2F1766-69A6-4EFB-9DAE-E11A2BD717F5">
                                        <File Id="SCSYNTH.EXE" Name="scsynth.exe" Source="SourceDir\app\server\native\win\scsynth.exe" />
                                    </Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Sonic Pi">
                    <Component Id="StartMenuShortcuts" Guid="BBD1AB47-BC24-437D-86E4-6B8D59CBB12F">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="" />
                        <util:InternetShortcut Id="WebsiteShortcut" Name="Sonic Pi Support" Target="https://groups.google.com/forum/#!forum/sonic-pi" />
                        <Shortcut Id="SonicPi" Name="Sonic Pi" Target="[#SONIC_PI.EXE]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
			<ComponentGroupRef Id="ETC"/>
			<ComponentGroupRef Id="GUI"/>
			<ComponentGroupRef Id="SERVER"/>
            <ComponentRef Id="SONIC_PI.EXE" />
            <ComponentRef Id="SCSYNTH.EXE" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
		<UI Id="UserInterface">
		  <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
		  <Property Id="WixUI_Mode" Value="Custom" />

		  <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
		  <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
		  <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

		  <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

		  <DialogRef Id="ProgressDlg" />
		  <DialogRef Id="ErrorDlg" />
		  <DialogRef Id="FilesInUse" />
		  <DialogRef Id="FatalError" />
		  <DialogRef Id="UserExit" />

		  <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
		  <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

		</UI>
		<UIRef Id="WixUI_Common" />
        <Icon Id="StartMenuIcon.exe" SourceFile="C:\sonic-pi\app\gui\qt\release\sonic-pi.exe" />
    </Product>
</Wix>