.deps
.dirstamp
*.o
*.obj
*.exe
*.ilk
*.manifest
*.pdb
*.tds
any_executor
blocking
blocking_adaptation
bulk_execute
bulk_guarantee
context_as
execute
executor
invocable_archetype
mapping
operation_state
outstanding_work
prefer_only
receiver
relationship
schedule
scheduler
sender
set_done
set_error
set_value
start
submit
